.formulario {
  height: 250px;
  width: 50vw;
  max-width: 30%;
  min-width: 200px;
  padding: 2rem;
  margin: 1rem;
  border-radius: 16px;
  margin-left: 22%;
  background-color: #DAD7CD;
  box-shadow: 1rem 0 1rem #1e1e1e;

}

.formulario-itens {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
